<div class="background">
  <div class="login-wrapper">
    <img src="assets/images/BSY_TWLogo.png" alt="logo">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <label class="input-wrapper">
        <span>Account</span>
        <input type="text" [(ngModel)]="loginModel.id" />

      </label>
      <label class="input-wrapper">
        <span>Password</span>
        <input type="password" />
      </label>

      <label *ngIf="message!=''" class="warning-text">{{ message }}</label>

      <div class="btn-wrapper">
        <button class="login-btn" (click)="login()">Login
        </button>
      </div>
    </form>
  </div>
</div>
