<div>
  <ul class="region">
    <li *ngFor="let item of nav" [class.selected]="condition===item" (click)="onSelect(item)">{{ item.name }}</li>
  </ul>
</div>

<div>
  <table>
    <tr>
      <td>Day</td>
      <td>Customer</td>
      <td>Cost</td>
    </tr>
    <tr *ngFor="let item of list">
      <td>{{ item.day }}</td>
      <td>{{ item.customer }}</td>
      <td>{{ item.cost | toNumber }}</td>
    </tr>
  </table>
</div>


<div class="footer">
  <div class="subtitle">總計</div>
  <div class="subvalue1">
    {{ getsummary() | toNumber}}</div><br>
</div>
